@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
}
body {
  color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.gamma,
#footer-widgets a {
  color: #444444;
}
#breadcrumbs .breadcrumb-trail {
  color: #888888;
}
a,
.woocommerce-tabs ul.tabs li a,
.quantity .plus,
.quantity .minus,
.avatar-comments a.comment-count,
.star-rating span:before {
  color: #9abaaa;
}
.quantity .plus:hover,
.quantity .minus:hover {
  color: #a9c4b7;
  border-color: #a9c4b7;
}
input[type=text]:focus,
input.input-text:focus,
textarea:focus,
input.txt:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #9abaaa;
  box-shadow: 0 1px 2px 0 rgba(154, 186, 170, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(154, 186, 170, 0.2);
}
.woo-pagination .page-numbers:hover,
#post-entries a,
.avatar-comments a.comment-count:hover,
.widget_layered_nav ul li.chosen a,
.widget_price_filter .ui-slider .ui-slider-range {
  background: #9abaaa;
}
a:hover {
  color: #789888;
}
.star-rating:before {
  color: rgba(154, 186, 170, 0.3);
}
.quantity .plus,
.quantity .minus,
.widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #9abaaa;
}
.avatar-comments a.comment-count {
  box-shadow: 0 0 0 0.202em #9abaaa;
  -webkit-box-shadow: 0 0 0 0.202em #9abaaa;
}
.flexslider,
.homepage-contact ul span {
  background: #9abaaa;
}
#footer:before {
  background: #a9ada1;
  box-shadow: 5em 0 0 0 #9abaaa, 10em 0 0 0 #a9ada1, 15em 0 0 0 #a9c4b7, 20em 0 0 0 #363f3b, 25em 0 0 0 #9abaaa, 30em 0 0 0 #a9ada1, 35em 0 0 0 #9abaaa, 40em 0 0 0 #a9ada1, 45em 0 0 0 #a9c4b7, 50em 0 0 0 #363f3b, 55em 0 0 0 #9abaaa, 60em 0 0 0 #a9ada1, 65em 0 0 0 #9abaaa, 70em 0 0 0 #a9ada1, 75em 0 0 0 #a9c4b7, 80em 0 0 0 #363f3b, 85em 0 0 0 #9abaaa, 90em 0 0 0 #a9ada1, 95em 0 0 0 #9abaaa, 100em 0 0 0 #a9ada1, 105em 0 0 0 #a9c4b7, 110em 0 0 0 #363f3b, 115em 0 0 0 #9abaaa, 120em 0 0 0 #a9ada1;
}
.avatar-comments a.comment-count {
  background: rgba(154, 186, 170, 0.3);
}
#post-entries a:hover {
  background: #a9c4b7;
}
#post-author {
  color: #edfffb;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button,
#wrapper .woo-sc-button,
.homepage-contact ul li a:hover,
#footer-widgets .button {
  color: #a9c4b7;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button,
#wrapper .woo-sc-button,
#post-author .profile-image img {
  border-color: #a9c4b7;
}
a.button:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover,
#wrapper .woo-sc-button:hover,
.homepage-contact ul li a:hover span,
#post-author,
.widget_layered_nav ul li.chosen a:hover {
  background-color: #a9c4b7;
}
a.button.alt,
#commentform #submit.alt,
.submit.alt,
input[type=submit].alt,
input.button.alt,
button.button.alt,
#wrapper .woo-sc-button.alt,
#header .cart-contents:hover .count,
ul.products li.product .price,
.price ins,
ul.products li.product .star-rating span:before {
  color: #a9ada1;
}
a.button.alt,
#commentform #submit.alt,
.submit.alt,
input[type=submit].alt,
input.button.alt,
button.button.alt,
#wrapper .woo-sc-button.alt,
#header .cart-contents:hover .count {
  border-color: #a9ada1;
}
a.button.alt:hover,
#commentform #submit.alt:hover,
.submit.alt:hover,
input[type=submit].alt:hover,
input.button.alt:hover,
button.button.alt:hover,
#wrapper .woo-sc-button.alt:hover,
#header .cart-contents:hover .amount,
.onsale,
.woo-pagination .page-numbers.current,
.blog-posts-grid,
.blog-posts-grid .post,
ul.products li.product,
.flexslider:hover .flex-direction-nav a:hover,
ul.products li.product .added_to_cart {
  background-color: #a9ada1;
}
.flexslider:hover .flex-direction-nav a:hover {
  color: #fff;
}
.blog-posts-grid .post:nth-child(2n) {
  background: #aeb2a6;
}
.blog-posts-grid .post:nth-child(3n) {
  background: #b3b7ac;
}
.blog-posts-grid .post:nth-child(4n) {
  background: #b8bbb1;
}
.blog-posts-grid .post:nth-child(5n) {
  background: #bdc0b7;
}
.blog-posts-grid .post:nth-child(6n) {
  background: #c2c5bc;
}
.blog-posts-grid .post:nth-child(7n) {
  background: #c7cac2;
}
.blog-posts-grid .post:nth-child(8n) {
  background: #cccec7;
}
.archive-description {
  background: #a5a99d;
}
.archive-description + .archive-description.product-sorting {
  background: #a2a699;
}
#header .cart-contents:hover .amount {
  border-color: #a9ada1;
}
.widget_woothemes_our_team .team-member .wrap {
  background: -moz-linear-gradient(top, rgba(66, 77, 72, 0) 0%, rgba(66, 77, 72, 0.75) 45%, #424d48 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(66, 77, 72, 0)), color-stop(45%, rgba(66, 77, 72, 0.75)), color-stop(100%, #424d48));
  background: -webkit-linear-gradient(top, rgba(66, 77, 72, 0) 0%, rgba(66, 77, 72, 0.75) 45%, #424d48 100%);
  background: -o-linear-gradient(top, rgba(66, 77, 72, 0) 0%, rgba(66, 77, 72, 0.75) 45%, #424d48 100%);
  background: -ms-linear-gradient(top, rgba(66, 77, 72, 0) 0%, rgba(66, 77, 72, 0.75) 45%, #424d48 100%);
  background: linear-gradient(to bottom, rgba(66, 77, 72, 0) 0%, rgba(66, 77, 72, 0.75) 45%, #424d48 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003d5c6f', endColorstr='#a63d5c6f', GradientType=0);
}
#header,
#footer {
  background-color: #424d48;
}
#navigation ul.nav > li > a,
#footer {
  color: #8c9c95;
}
#footer a {
  color: #fff;
}
.flexslider .flex-direction-nav a {
  background: rgba(66, 77, 72, 0.9);
}
#header .cart-contents .amount {
  color: #424d48;
}
ul.products li.product .star-rating:before,
.price del {
  color: rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 769px) {
  #top,
  .blog-posts-grid .post.has-image:before,
  ul.products li.product:before {
    background: #363f3b;
  }
  #top .site-description,
  #top ul.nav > li > a:after {
    color: #65766e;
  }
  #header {
    border-color: #363f3b;
  }
  #navigation ul.nav ul {
    background: rgba(54, 63, 59, 0.9);
  }
  #top a {
    color: #9abaaa;
  }
  #top a:hover {
    color: #a9c4b7;
  }
  #top ul.nav ul {
    border-bottom-color: #9abaaa;
  }
  #main .widget_woothemes_testimonials {
    background: #9abaaa;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text {
    color: #ffffff;
  }
  #top ul.nav > li:hover > a,
  #top ul.nav > li > a:hover,
  #top ul.nav ul li a,
  #header .cart-contents .count,
  #navigation ul.nav > li.parent:hover > a:after,
  #navigation ul.nav ul li.parent:hover > a:after,
  #navigation ul.nav ul li.parent > a:hover:after {
    color: #a9c4b7;
  }
  #top ul.nav ul li:hover > a,
  #top ul.nav ul li a:hover {
    background: #a9c4b7;
  }
  #navigation ul.nav > li:hover > a,
  #navigation ul.nav > li > a:hover,
  #navigation ul.nav > li.current-menu-item:hover > a {
    box-shadow: inset 0 0.382em 0 0 #a9c4b7;
    -webkit-box-shadow: inset 0 0.382em 0 0 #a9c4b7;
  }
  #header .cart-contents .amount,
  #header .cart-contents .count {
    border-color: #a9c4b7;
  }
  #header .cart-contents .amount {
    background-color: #a9c4b7;
  }
}
