@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
}
body {
  color: #666666;
}
h1,
h2,
h3,
h4,
h5,
h6,
.alpha,
.beta,
.gamma,
#footer-widgets a {
  color: #444444;
}
#breadcrumbs .breadcrumb-trail {
  color: #888888;
}
a,
.woocommerce-tabs ul.tabs li a,
.quantity .plus,
.quantity .minus,
.avatar-comments a.comment-count,
.star-rating span:before {
  color: #f6a242;
}
.quantity .plus:hover,
.quantity .minus:hover {
  color: #f6c642;
  border-color: #f6c642;
}
input[type=text]:focus,
input.input-text:focus,
textarea:focus,
input.txt:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-color: #f6a242;
  box-shadow: 0 1px 2px 0 rgba(246, 162, 66, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(246, 162, 66, 0.2);
}
.woo-pagination .page-numbers:hover,
#post-entries a,
.avatar-comments a.comment-count:hover,
.widget_layered_nav ul li.chosen a,
.widget_price_filter .ui-slider .ui-slider-range {
  background: #f6a242;
}
a:hover {
  color: #d48020;
}
.star-rating:before {
  color: rgba(246, 162, 66, 0.3);
}
.quantity .plus,
.quantity .minus,
.widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #f6a242;
}
.avatar-comments a.comment-count {
  box-shadow: 0 0 0 0.202em #f6a242;
  -webkit-box-shadow: 0 0 0 0.202em #f6a242;
}
.flexslider,
.homepage-contact ul span {
  background: #f6a242;
}
#footer:before {
  background: #44c6ab;
  box-shadow: 5em 0 0 0 #f6a242, 10em 0 0 0 #44c6ab, 15em 0 0 0 #f6c642, 20em 0 0 0 #593731, 25em 0 0 0 #f6a242, 30em 0 0 0 #44c6ab, 35em 0 0 0 #f6a242, 40em 0 0 0 #44c6ab, 45em 0 0 0 #f6c642, 50em 0 0 0 #593731, 55em 0 0 0 #f6a242, 60em 0 0 0 #44c6ab, 65em 0 0 0 #f6a242, 70em 0 0 0 #44c6ab, 75em 0 0 0 #f6c642, 80em 0 0 0 #593731, 85em 0 0 0 #f6a242, 90em 0 0 0 #44c6ab, 95em 0 0 0 #f6a242, 100em 0 0 0 #44c6ab, 105em 0 0 0 #f6c642, 110em 0 0 0 #593731, 115em 0 0 0 #f6a242, 120em 0 0 0 #44c6ab;
}
.avatar-comments a.comment-count {
  background: rgba(246, 162, 66, 0.3);
}
#post-entries a:hover {
  background: #f6c642;
}
#post-author {
  color: #ffff86;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button,
#wrapper .woo-sc-button,
.homepage-contact ul li a:hover,
#footer-widgets .button {
  color: #f6c642;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button,
#wrapper .woo-sc-button,
#post-author .profile-image img {
  border-color: #f6c642;
}
a.button:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover,
#wrapper .woo-sc-button:hover,
.homepage-contact ul li a:hover span,
#post-author,
.widget_layered_nav ul li.chosen a:hover {
  background-color: #f6c642;
}
a.button.alt,
#commentform #submit.alt,
.submit.alt,
input[type=submit].alt,
input.button.alt,
button.button.alt,
#wrapper .woo-sc-button.alt,
#header .cart-contents:hover .count,
ul.products li.product .price,
.price ins,
ul.products li.product .star-rating span:before {
  color: #44c6ab;
}
a.button.alt,
#commentform #submit.alt,
.submit.alt,
input[type=submit].alt,
input.button.alt,
button.button.alt,
#wrapper .woo-sc-button.alt,
#header .cart-contents:hover .count {
  border-color: #44c6ab;
}
a.button.alt:hover,
#commentform #submit.alt:hover,
.submit.alt:hover,
input[type=submit].alt:hover,
input.button.alt:hover,
button.button.alt:hover,
#wrapper .woo-sc-button.alt:hover,
#header .cart-contents:hover .amount,
.onsale,
.woo-pagination .page-numbers.current,
.blog-posts-grid,
.blog-posts-grid .post,
ul.products li.product,
.flexslider:hover .flex-direction-nav a:hover,
ul.products li.product .added_to_cart {
  background-color: #44c6ab;
}
.flexslider:hover .flex-direction-nav a:hover {
  color: #fff;
}
.blog-posts-grid .post:nth-child(2n) {
  background: #4cc8af;
}
.blog-posts-grid .post:nth-child(3n) {
  background: #54cbb2;
}
.blog-posts-grid .post:nth-child(4n) {
  background: #5bcdb6;
}
.blog-posts-grid .post:nth-child(5n) {
  background: #63d0b9;
}
.blog-posts-grid .post:nth-child(6n) {
  background: #6bd2bd;
}
.blog-posts-grid .post:nth-child(7n) {
  background: #73d4c0;
}
.blog-posts-grid .post:nth-child(8n) {
  background: #7bd7c4;
}
.archive-description {
  background: #3ec4a8;
}
.archive-description + .archive-description.product-sorting {
  background: #3bc0a4;
}
#header .cart-contents:hover .amount {
  border-color: #44c6ab;
}
.widget_woothemes_our_team .team-member .wrap {
  background: -moz-linear-gradient(top, rgba(122, 76, 67, 0) 0%, rgba(122, 76, 67, 0.75) 45%, #7a4c43 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(122, 76, 67, 0)), color-stop(45%, rgba(122, 76, 67, 0.75)), color-stop(100%, #7a4c43));
  background: -webkit-linear-gradient(top, rgba(122, 76, 67, 0) 0%, rgba(122, 76, 67, 0.75) 45%, #7a4c43 100%);
  background: -o-linear-gradient(top, rgba(122, 76, 67, 0) 0%, rgba(122, 76, 67, 0.75) 45%, #7a4c43 100%);
  background: -ms-linear-gradient(top, rgba(122, 76, 67, 0) 0%, rgba(122, 76, 67, 0.75) 45%, #7a4c43 100%);
  background: linear-gradient(to bottom, rgba(122, 76, 67, 0) 0%, rgba(122, 76, 67, 0.75) 45%, #7a4c43 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003d5c6f', endColorstr='#a63d5c6f', GradientType=0);
}
#header,
#footer {
  background-color: #7a4c43;
}
#navigation ul.nav > li > a,
#footer {
  color: #c39b93;
}
#footer a {
  color: #fff;
}
.flexslider .flex-direction-nav a {
  background: rgba(122, 76, 67, 0.9);
}
#header .cart-contents .amount {
  color: #7a4c43;
}
ul.products li.product .star-rating:before,
.price del {
  color: rgba(0, 0, 0, 0.25);
}
@media only screen and (min-width: 769px) {
  #top,
  .blog-posts-grid .post.has-image:before,
  ul.products li.product:before {
    background: #593731;
  }
  #top .site-description,
  #top ul.nav > li > a:after {
    color: #9b6055;
  }
  #header {
    border-color: #593731;
  }
  #navigation ul.nav ul {
    background: rgba(89, 55, 49, 0.9);
  }
  #top a {
    color: #f6a242;
  }
  #top a:hover {
    color: #f6c642;
  }
  #top ul.nav ul {
    border-bottom-color: #f6a242;
  }
  #main .widget_woothemes_testimonials {
    background: #f6a242;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text {
    color: #ffffdb;
  }
  #top ul.nav > li:hover > a,
  #top ul.nav > li > a:hover,
  #top ul.nav ul li a,
  #header .cart-contents .count,
  #navigation ul.nav > li.parent:hover > a:after,
  #navigation ul.nav ul li.parent:hover > a:after,
  #navigation ul.nav ul li.parent > a:hover:after {
    color: #f6c642;
  }
  #top ul.nav ul li:hover > a,
  #top ul.nav ul li a:hover {
    background: #f6c642;
  }
  #navigation ul.nav > li:hover > a,
  #navigation ul.nav > li > a:hover,
  #navigation ul.nav > li.current-menu-item:hover > a {
    box-shadow: inset 0 0.382em 0 0 #f6c642;
    -webkit-box-shadow: inset 0 0.382em 0 0 #f6c642;
  }
  #header .cart-contents .amount,
  #header .cart-contents .count {
    border-color: #f6c642;
  }
  #header .cart-contents .amount {
    background-color: #f6c642;
  }
}
