/**
 * Integration styles
 */
@-webkit-keyframes spin-360 {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    zoom: 1;
  }
  to {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    zoom: 1;
  }
}
.post-type-archive-testimonial .blog-posts-grid > article {
  width: 100%;
  padding-top: 100%;
  overflow: auto;
}
.post-type-archive-testimonial .blog-posts-grid > article .post-more {
  display: none;
}
.post-type-archive-testimonial .blog-posts-grid > article .testimonial-content:before {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.387em;
  display: inline-block;
  text-align: right;
  line-height: 1;
  content: "\f10d";
  position: absolute;
  font-size: 2.244em;
  top: .202em;
  right: 0;
}
#main .widget_woothemes_testimonials {
  margin-bottom: 5.874em;
}
#main .widget_woothemes_testimonials .testimonials-list:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#main .widget_woothemes_testimonials .testimonials-list .quote {
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
  float: right;
}
#main .widget_woothemes_testimonials .testimonials-list .quote .avatar-link {
  display: block;
  max-width: 5.874em;
  margin: 0 auto;
}
#main .widget_woothemes_testimonials .testimonials-list .quote .avatar-link img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text {
  background: #fff;
  border: 1px solid #e7e7e7;
  padding: 1em;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  height: 250px;
  /*&:after {
						position: absolute;
						content: "";
						border:1em solid @border_main;
						border-color:@border_main transparent transparent transparent;
						bottom:-2em;
						left:50%;
						margin-left:-1em;
					}*/
}
#main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text p {
  margin: 0 0 0.5em 0;
}
#main .widget_woothemes_testimonials .testimonials-list .quote .author {
  display: block;
  font-weight: 700;
  font-style: normal;
}
#main .widget_woothemes_testimonials .testimonials-list .quote .author .excerpt {
  display: block;
}
#main .widget_woothemes_testimonials .testimonials-list .quote .author .url {
  font-weight: normal;
}
#main .widget_woothemes_testimonials .fix {
  display: none;
}
#main .widget_woothemes_testimonials .first,
#main .widget_woothemes_testimonials .last {
  clear: none;
}
@media only screen and (min-width: 992px) {
  .no-csstransitions #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text {
    -ms-transform: none;
    display: none;
  }
  #main .widget_woothemes_testimonials {
    background: #47B39D;
  }
  #main .widget_woothemes_testimonials:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }
  #main .widget_woothemes_testimonials .testimonials-list {
    width: 50%;
    float: right;
    position: relative;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote {
    margin-left: 0;
    margin-right: 0;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text {
    font-size: 0.9em;
    background: none;
    padding: 0;
    border: 0;
    width: 80%;
    margin-top: 0;
    position: absolute;
    top: 0.5em;
    -webkit-box-shadow: none;
    box-shadow: none;
    left: -80%;
    padding-right: 2.618em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    -moz-transform: translateX(-2000px);
    transform: translateX(-2000px);
    color: #a0d9ce;
    overflow: visible;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text:before {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    width: 1.387em;
    display: inline-block;
    line-height: 1;
    content: "\f10d";
    position: absolute;
    font-size: 2.244em;
    top: .202em;
    left: -1.618em;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text a {
    color: #fff;
    text-decoration: underline;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text .url {
    display: none;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text .excerpt {
    font-weight: normal;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text:after {
    display: none;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text .author {
    font-size: 1.387em;
    color: #fff;
    margin-bottom: 0.2em;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .avatar-link {
    max-width: none;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .avatar-link img {
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .avatar {
    opacity: 0.5;
    filter: alpha(opacity=@opacity * 100);
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    -webkit-transform: translateZ(0);
    z-index: 999;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .avatar:hover,
  #main .widget_woothemes_testimonials .testimonials-list .quote .avatar.active {
    opacity: 1;
    filter: alpha(opacity=@opacity * 100);
  }
  #main .type-page .widget_woothemes_testimonials,
  #main .content-box .widget_woothemes_testimonials {
    margin-left: -9.505em;
    margin-right: -9.505em;
  }
  .post-type-archive-testimonial .blog-posts-grid > article {
    width: 33%;
    padding-top: 33%;
  }
}
@media only screen and (min-width: 1440px) {
  .post-type-archive-testimonial .blog-posts-grid > article {
    width: 25%;
    padding-top: 25%;
  }
}
p.more-testimonials {
  text-align: center;
  margin-top: -5.874em;
  padding: 3.236em 0;
  background: rgba(255, 255, 255, 0.6);
  margin-bottom: 5.874em;
}
p.more-testimonials a:after {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  speak: none;
  width: 1.387em;
  display: inline-block;
  text-align: right;
  line-height: 1;
  content: "\f0e5";
}
@media only screen and (min-width: 1440px) {
  #main .widget_woothemes_testimonials .testimonials-list {
    width: 33%;
  }
  #main .widget_woothemes_testimonials .testimonials-list .quote .testimonials-text {
    width: 100%;
    left: -100%;
    font-size: 0.9em;
  }
}
